# default reviewers
*                         @greenbone/troubadix-maintainers @greenbone/devops

# exceptions
/troubadix/codespell/*    @greenbone/troubadix-maintainers @greenbone/vulnerability-test-maintainers
