# default reviewers
*                         @greenbone/devops
*                         @greenbone/troubadix-maintainers

# exceptions
/troubadix/codespell/*   @greenbone/vulnerability-test-maintainers
